<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scrapper</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
</head>
<body>
    <div class="container">
        <h2>Web Scrapper</h2>
        <form action="/scrapData" method="post">
            <input type="url" placeholder="Enter the URL" name="fullurl" required />
            <input type="submit" value="Scrap" />
        </form>
    </div>
</body>
</html>